name: buildx

on:
  push:
    branches: main
    tags: 'v*'

jobs:
  release:
    strategy:
      matrix:
        platform: ["amd64", "arm64"]
        builder: ["ubuntu-latest", "ubuntu-arm64-2404"]
        include:
          - platform: "amd64"
            builder: ubuntu-latest
          - platform: "arm64"
            builder: "ubuntu-arm64-2404"
    runs-on: ${{ matrix.builder }}
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      if: github.repository == 'anarkiwi/GNURadio-docker' && github.event_name == 'push'
    - name: Build and push dependencies
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile.dependencies
        platforms: ${{ matrix.platform }}
        push: true
        tags: anarkiwi/gnuradio-dependencies:${{ steps.change_version.outputs.VERSION }}-${{ matrix.platform }}
      if: github.repository == 'anarkiwi/GNURadio-docker' && github.event_name == 'push'
    - name: Build and push dependencies
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        platforms: linux/${{ matrix.platform }}
        push: true
        build-args: |
          DEPENDENCIES_VERSION=${{ steps.change_version.outputs.VERSION }}-${{ matrix.platform }}
          GNURADIO_TAG=${{ steps.change_version.outputs.VERSION }}
        tags: anarkiwi/gnuradio:${{ steps.change_version.outputs.VERSION }}-${{ matrix.platform }}
      if: github.repository == 'anarkiwi/GNURadio-docker' && github.event_name == 'push'
  release-manifest:
    needs: [release]
    runs-on: ubuntu-latest
    environment:
      name: "release"
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
      if: github.repository == 'anarkiwi/GNURadio-docker' && github.event_name == 'push'
    - name: Create SHA manifest and push
      run: |
        docker buildx imagetools create -t anarkiwi/gnuradio:${{ steps.change_version.outputs.VERSION }} \
        anarkiwi/gnuradio:${{ steps.change_version.outputs.VERSION }}-arm64 \
        anarkiwi/gnuradio:${{ steps.change_version.outputs.VERSION }}-amd64
      if: github.repository == 'anarkiwi/GNURadio-docker' && github.event_name == 'push'
